:root {
    --primary: #E84922;
    --bg-color: #fff;
    --text-color: #17162B;
    --light-text-color: #758599;
    --border-color: #05588E38;
    --light-bg-color: #F9FAFB;
    --links-color: #2f2f2f;
    --font-mona: mona;
    --para-lineheight: 1.4;
}

.dark-mode {
    --bg-color: #17162B;
    --text-color: #F9FAFB;
    --light-text-color: #758599;
    --border-color: #05588E38;
    --light-bg-color: #2f2f2f;
    --links-color: #F9FAFB;
}

@font-face {
    font-family: mona;
    src: url('../font/mona-sans/Mona-Sans.woff2');
}


.contact__container-main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 60px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-top: 56px;
}

.contact__info-wrapper-main {
    border: 1px solid var(--border-color);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 48px;
    border-radius: 24px;
}

.contact__details {
    margin-top: 0;
}

.project__container {
    border-bottom: 0;
}